ID-JAG standard claim change suggestions

Hi Everyone, 

I've been slowly reviewing the standard document and came across a couple of cases I wanted to bring up:

First:
>    resource:  OPTIONAL - The Resource Identifier (Section 2 of
      [RFC8707]) of the Resource Server (either a single URI or an array
      of URIs).

Can we change this claim description to always be an array of URIs? I understand the recommendation is very nit-picky, although it would be much easier for ID_JAG consumers to handle 'resource' claim validation if it's included.

Second: 
>    client_id:  REQUIRED - The client identifier of the OAuth 2.0
      [RFC6749] client at the Resource Authorization Server that will
      act on behalf of the resource owner (sub).  This identifier MAY be
      different that client identifier of the OAuth 2.0 client
      requesting an ID-JAG from the IdP Section 4.3 of [RFC8693] as it
      represents and independent client relationship to another
      Authorization Server in a different trust domain.  See Section 5
      for additional considerations.

I understand the purpose of this claim and it makes sense, although maintenance of these client_id's can become very cumbersome in large scale deployments, I envision the client_id should be manually set at the AS and there isn't any dynamic relationship between the AS and the Resource Authorization Server. Also perhaps dpop can be used to accomplish the same outcome.

I want to suggest to change the type from "REQUIRED" to "RECOMMENDED". The change would potentially help with the large scale maintenance issues.

Thanks,
Jamshid

On the second item, worth noting that the direction of #85 would reduce the usefulness of a `client_id` claim. Which might be further rational for not having it REQUIRED. 